#aws credentials
region="us-east-1"
AWS_ACCESS_KEY_ID = "..."
AWS_SECRET_ACCESS_KEY = "..."

#AI studio creds
AI_STUDIO_API_KEY = '...'

# PostgreSQL
POSTGRES_USER=mas_user
POSTGRES_PASSWORD=mas_pass
POSTGRES_DB=mas_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=mas_mongo_pass
MONGO_URI=mongodb://admin:mas_mongo_pass@mongodb:27017/mas_db?authSource=admin
MONGO_DB=mas_db

# Qdrant
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# Frontend
BACKEND_URL=http://backend:8000
